/* nav bar styling for outside div container */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

.navbar .nav > li:hover > a:hover {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.navBar-font {
	font-size: 20px;
	color: white;
}


.video-style {
	border-style: solid;
	min-width: 500px;
    border-width: 20px 20px 20px 20px;
	padding-top:0px;
}

.content-font-index {
	font-size: 200%;
}
.white-font:{
	color: white;
}

.dark-blue{
background-color: #2b3642;
		
}

.light-blue {
	background-color: #425262;
	
}

.currentPageFont{
	font-family: 'Lora', serif;
	font-weight: 900;
}

.style-navBarItem{
	margin-left: 20px;
	margin-right: 20px;	
}
#grad1 {
height: 100%;
width: 100%;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(77,77,78,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(77,77,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(77,77,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d4d4e',GradientType=0 ); /* IE6-9 */
}

#grad2 {
height: 100%;
width: 100%;
background: rgb(204,204,204); /* Old browsers */
background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(77,77,78,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(77,77,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(77,77,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#4d4d4e',GradientType=0 ); /* IE6-9 */
}

#mainPage {
	background-color: white;  
	width: 1150px; 
	margin-top: 50px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
	min-width: 600px;
	min-height: 850px;
}

#mainPage p {
	font-size: 12px;
}

#mainPage a {
	font-size: 12px;
}

#mainPage h1 {
	font-size: 30px;
	font-weight: bold;
}
.buttonFooter {
    border-radius: 5px;
    border: none;
    color: white;
    width: 250px;
	height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	float: right;
}

.buttonFooter1  {
	background-color: #17498e; /* Green */ 
    border: 1px solid black;
}

.buttonFooter2  {
	background-color: #0b80f5; /* Green */
    border: 1px solid black;
}
.buttonFooterHover:hover  {
    background-color: #92a2bd;
	color: black;
}



/* Help Button Functionality */
.needHelpButton {
    border: none;
    color: black;
	margin-bottom: 100px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 15px;
	background: rgba(67,43,4,1);
	background: -moz-linear-gradient(top, rgba(67,43,4,1) 0%, rgba(209,159,123,1) 54%, rgba(209,159,123,1) 63%, rgba(116,63,7,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,43,4,1)), color-stop(54%, rgba(209,159,123,1)), color-stop(63%, rgba(209,159,123,1)), color-stop(100%, rgba(116,63,7,1)));
	background: -webkit-linear-gradient(top, rgba(67,43,4,1) 0%, rgba(209,159,123,1) 54%, rgba(209,159,123,1) 63%, rgba(116,63,7,1) 100%);
	background: -o-linear-gradient(top, rgba(67,43,4,1) 0%, rgba(209,159,123,1) 54%, rgba(209,159,123,1) 63%, rgba(116,63,7,1) 100%);
	background: -ms-linear-gradient(top, rgba(67,43,4,1) 0%, rgba(209,159,123,1) 54%, rgba(209,159,123,1) 63%, rgba(116,63,7,1) 100%);
	background: linear-gradient(to bottom, rgba(67,43,4,1) 0%, rgba(209,159,123,1) 54%, rgba(209,159,123,1) 63%, rgba(116,63,7,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432b04', endColorstr='#743f07', GradientType=0 );		
}
.buttonContainer{
	height: 100px;
	width: 200px;
	position: relative;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.submittButton {
    background-color: #d56344 ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
	border-width: 10px;
	border-color: #425262;
    cursor: pointer;
    width: 100%;
}

.submittButton:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
	color: white;
	position: relative;
	min-width: 380px;
	background-color: none;
}

.containerBorder{
		background-color: #2b3642;
		padding: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #2b3642;
    margin: auto auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border: none;
    width: 50%; /* Could be more or less, depending on screen size */
	min-width: 400px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 0px;
    top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.videoBox{
	width:560; 
	height:315; 
	border:none;
	overflow:hidden; 
	scrolling:no;
	frameborder:0; 
	allowTransparency:true;
	allowFullScreen:true;
	
	
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 799px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
	
	#mainPage{
		width: 90%
	}

#mainPage p {
	font-size: 9px;
	width: 90%;
}

#mainPage a {
	font-size: 9px;
	width: 90%;
}

#mainPage h1 {
	font-size: 30px;
	font-weight: bold;
}
}

@media screen and (max-width: 479px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
	
	#mainPage{
		width: 50%
	}

#mainPage p {
	font-size: 9px;
	width: 50%;
}

#mainPage a {
	font-size: 9px;
	width: 50%;
}

#mainPage h1 {
	font-size: 15px;
	font-weight: bold;
}

}

/* DANGER TEST CODE!!!!!! */
.headerGradient {
background: rgba(192,192,192,1);
background: -moz-linear-gradient(left, rgba(192,192,192,1) 0%, rgba(171,183,197,1) 13%, rgba(32,124,229,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192,192,192,1)), color-stop(13%, rgba(171,183,197,1)), color-stop(100%, rgba(32,124,229,0)));
background: -webkit-linear-gradient(left, rgba(192,192,192,1) 0%, rgba(171,183,197,1) 13%, rgba(32,124,229,0) 100%);
background: -o-linear-gradient(left, rgba(192,192,192,1) 0%, rgba(171,183,197,1) 13%, rgba(32,124,229,0) 100%);
background: -ms-linear-gradient(left, rgba(192,192,192,1) 0%, rgba(171,183,197,1) 13%, rgba(32,124,229,0) 100%);
background: linear-gradient(to right, rgba(192,192,192,1) 0%, rgba(171,183,197,1) 13%, rgba(32,124,229,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#207ce5', GradientType=1 );
}

.testGradient{
background: rgba(242,246,248,1);
background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(13%, rgba(216,225,231,0.87)), color-stop(20%, rgba(224,239,249,0.8)), color-stop(51%, rgba(181,198,208,0.49)), color-stop(100%, rgba(181,198,208,0)));
background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=1 );
	
	
	
}
.testGradient2{
background: rgba(242,246,248,1);
background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(13%, rgba(216,225,231,0.87)), color-stop(20%, rgba(224,239,249,0.8)), color-stop(51%, rgba(181,198,208,0.49)), color-stop(100%, rgba(181,198,208,0)));
background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,0.87) 13%, rgba(224,239,249,0.8) 20%, rgba(181,198,208,0.49) 51%, rgba(181,198,208,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=1 );
	
	
	
}

